<!DOCTYPE html>
<html>
  <head>
    <title>GBDS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>GBDS</h1>
    <p>Bem Vindo Gerson Bernardo da Silva</p>
  </body>
</html>
