<!DOCTYPE html>
<html>
  <head>
    <title>Nova Rota para Visualizar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Gerson Bernardo da Silva</p>
    <p>Em um novo caminho</p>
  </body>
</html>
