<!DOCTYPE html>
<html>
  <head>
    <title>Projeto 01</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Listagem de Clientes</h1>
    <p>Clientes já cadastrados no Sistema:</p>
    <table>
      <thead>
        <tr>
          <td style="width: 50%">Nome</td>
          <td style="width: 15%">Idade</td>
          <td style="width: 15%">UF</td>
          <td class="outro">Ações</td>
        </tr>
      </thead>
      <tbody>
        <td colspan="4">Nenhum cliente Cadastrado</td>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"><a href="/new">Cadastrar Novo</a></td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
