<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Cadastro de Cliente</h1>
    <p>Preencha os dados abaixo para salvar o cliente.</p>
    <form action="">
      <div>
        <label for="name">Nome</label>
        <input type="text" name />
      </div>
      <div>
        <label for="age">Idade</label>
        <input type="number" />
      </div>
      <div>
        <label for="estado">Selecione o Estado</label>
        <select name="estado">
          <option value="SP">São Paulo</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="MG">Minas Gerais</option>
        </select>
      </div>
    </form>
  </body>
</html>
