body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  width: 50%;
}

tr {
  background-color: #ccc;
  margin: 5px 2px;
}

.name{
  width: 50%;
}