body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  width: 50%;
}


thead {
  background-color: blue;
  color: aliceblue;
}

.nome {
  width: 60%;
}

.idade {
  width: 20%;
}

.uf {
  width: 10%;
}

label {
  display: block;
  padding: 5px;
}

div {
  padding: 5px;
}