/* Reset inicial */
* {
    margin: 0;
    padding: 0;
}

/* Cor de fundo do corpo */
body {
    background-color: #ccc;
    width: 100%;
}

/* Título principal */
h1 {
    padding: 10px 20px;
    font-size: 4rem;
}

/* Título secundário */
h2{
    padding: 10px 20px;
    font-size: 2rem;
}

h3{
    padding: 5px 10px;
    font-size: 18px;
}

/* container estudos */
.estudo-container {
    width: 90%;
    height: 600px;
    background-color: #f1f1f5;
    margin-left: 3%;
    border-radius: 25px;
}

.estudos {
    display: flex;
}

.estudo-container-item,
.estudo-container-item-onmouse,
.estudo-container-item-onfocus {
    width: 250px;
    height: 80px;
    background-color: #c4c4c4;
    margin: 10px 10px;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 10px;
}

